body 
{
background-color: lightgreen;
color:black;
font-family: courier;
}


	h1, h2, h3 {
		font-family: Courier;
	}

h1 {
color: blue;
font-weight: 100;
}

a {
	text-decoration: none;
	color: red;
}

#logo {
	width: 650px;
}
div {
	border-top: 1px solid grey;
	border-right : 2px dotted black;
	border-bottom: 1px dashed green;
	border-left: 2px dotted black;
	box-shadow: 0px 10px 30px rgba(0,0,0.1);
}

/* Custom design with class */

.container {
	width: 800px;
	margin: 40px auto;
}

@media (max-width: 760px) {

.container {
	width: 550px;
	}
}
	
}
.card-white {
	background-color: lightyellow;
	padding: 40px;
	box-shadow: 0px 10px 30px rgba(0,0,0.1)
}
.btn-blue {
	background-color : blue;
	color:white;
	padding:10px 15px;
}
.btn-blue:hover {
	background-color : yellow;
	color:white;
}

